.footer {
    position: relative;
    padding: 60px 80px;
    background-color: #0A2850;
    color: #ffffff;
    z-index: 0;
    overflow: hidden;
}

.footer__content {
    display: flex;
    justify-content: space-between;
}

.footer__logo {
    height: 39px;
    width: 105px;
}

.footer__circle {
    position: absolute;
    left: -44px;
    top: -128px;
    height: 340px;
    width: 340px;
    z-index: -1;
    border-radius: 50%;
    background-color: #2F80ED;
}

.footer__social {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.footer__social-heading {
    font-family: "Inter";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
}

.footer__list {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    row-gap: 16px;
    padding: 0;
    list-style-type: none;
}

.footer__list-item {
    display: flex;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
}

.footer__social-icon{
    align-self: end;
}

.footer__social-link {
    margin-left: 10px;
    text-decoration: none;
    color:#ffffff;
}

.footer__social-link:hover {
    color: #C1C1C1;
}

.footer__copyright {
    margin-top: 108px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px
}