.form {
    display: flex;
    flex-direction: column;
    margin: 80px 0 120px 0;
    max-width: 385px;
}

.form__fieldset {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form__label {
    max-width: fit-content;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.form__input {
    min-height: 60px;
    margin-top: 8px;
    margin-bottom: 32px;
    padding: 15px 20px;
    border-radius: 4px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
}

.form__input::placeholder {
    color: #838383;
}

.form__button {
    max-width: 385px;
    height: 60px;
    border-radius: 4px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    background-color:#2f80ed ;
    color:#fff;
}

.form__button:hover {
    opacity: 70%;
    cursor:pointer;
}

.form__checkbox-field {
  display: flex;
  justify-content: center;
  align-items: center;     
  gap: 10px;               
  margin-top: 20px;
}

.form__checkbox {
    width: 20px;
    height: 20px;
    border-radius: 2px;
    cursor: pointer;
    /* ASEGURARSE QUE ESTE EN EL MISMO NIVEL DEL TEXTO */
    background-color: #2F80ED;
    background-image: url(/images/check.svg);
}