
.recipes {
    position: relative;
    padding: 100px 80px 215px;
    background-color: #0a2750;
    background-image: url(/images/background_recipes.svg);
    background-size: cover;
    color: #fff;

}

.recipes__title {
    max-width: 580px;
    font-size: 44px;
    font-weight: 500;
    line-height: 52px;
}

.recipes__subtitle {
    max-width: 438px;
    margin-top: 24px;
    font-family: 'Noto Serif', 'Times New Roman', sans-serif;
    font-size: 20px;
    line-height: 30px;
}

.recipes__videos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 40px;
    margin-top: 80px;
    padding: 0;
}

.recipes__video-item {
    position: relative;
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.recipes__iframe {
    width: 480px;
    height: 273px;
    border: none;
}

.recipes__video-caption {
    margin-top: 24px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}

.recipes__span-time {
    position: absolute;
    right: 0;
}
