.page {
    min-width: 1100px;
    max-width: 1600px;
    /* EL BLOQUE ESTA CENTRADO PARA PANTALLAS DE MÁS DE 1600PX DE ANCHURA */
    margin:0 auto;
    font-family: "Inter", Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
}