*,
h1,
h2,
h3,
h4,
h5,
p,
a {
    box-sizing: border-box;
    margin: 0;
}

.page {
    min-width: 1100px;
    max-width: 1600px;
    /* EL BLOQUE ESTA CENTRADO PARA PANTALLAS DE MÁS DE 1600PX DE ANCHURA */
    margin: 0 auto;
    font-family: "Inter", Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    box-sizing: border-box;
}

.header {
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-height: 800px;
    min-height: 700px;
    padding: 30px 80px 40px;
    background-image: url(/images/background_header.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #fff;
    position: relative;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.header__logo {
    max-width: 105px;
    max-height: 39px;
    position: relative;
    left: -50px;
}

.nav__links {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.nav__link {
    color: black;
    text-decoration: none;
}

.header__title {
    max-width: 709px;
    margin-top: 183px;
    font-weight: 500;
    font-size: 58px;
    line-height: 72px;
}

.header__span-accent {
    font-family: 'Noto Serif', 'Times New Roman', sans-serif;
    font-style: italic;
    font-weight: normal;
    color: #2F80ED;
}

.header__description {
    max-width: 683px;
    margin-top: 28px;
    font-family: 'Noto Serif', 'Times New Roman', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
}

.header__image {
    max-width: 646px;
    max-height: 568px;
    position: absolute;
    top: 124px;
    right: 5px;
}

.header__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: auto;
}

.header__paragraph {
    color: #838383;
    align-self: flex-end;
}

.recipes {
    position: relative;
    padding: 100px 80px 215px;
    background-color: #0a2750;
    background-image: url(/images/background_recipes.svg);
    background-size: cover;
    color: #fff;

}

.recipes__title {
    max-width: 580px;
    font-size: 44px;
    font-weight: 500;
    line-height: 52px;
}

.recipes__subtitle {
    max-width: 438px;
    margin-top: 24px;
    font-family: 'Noto Serif', 'Times New Roman', sans-serif;
    font-size: 20px;
    line-height: 30px;
}

.recipes__videos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 40px;
    margin-top: 80px;
    padding: 0;
}

.recipes__video-item {
    position: relative;
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.recipes__iframe {
    width: 480px;
    height: 273px;
    border: none;
}

.recipes__video-caption {
    margin-top: 24px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}

.recipes__span-time {
    position: absolute;
    right: 0;
}

.reservation {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(/images/background_reservation.svg);
    background-color: #D9E7FF;
    background-size: cover;
    background-repeat: no-repeat;
}

.reservation__title {
    margin-top: 100px;
    text-align: center;
    width: fit-content;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
}

.reservation__form {
    display: flex;
    flex-direction: column;
    margin: 80px 0 120px 0;
    max-width: 385px;
}

.form__fieldset {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form__label {
    max-width: fit-content;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.form__input {
    min-height: 60px;
    margin-top: 8px;
    margin-bottom: 32px;
    padding: 15px 20px;
    border-radius: 4px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
}

.form__input::placeholder {
    color: #838383;
}

.form__button {
    max-width: 385px;
    height: 60px;
    border-radius: 4px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    background-color:#2f80ed ;
    color:#fff;
}

.form__button:hover {
    opacity: 70%;
    cursor:pointer;
}

.form__checkbox-field {
  display: flex;
  justify-content: center;
  align-items: center;     
  gap: 10px;               
  margin-top: 20px;
}

.form__checkbox {
    width: 20px;
    height: 20px;
    border-radius: 2px;
    cursor: pointer;
    /* ASEGURARSE QUE ESTE EN EL MISMO NIVEL DEL TEXTO */
    background-color: #2F80ED;
    background-image: url(/images/check.svg);
}